<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Shields.io customizer</title>
</head>

<body>
    <div id="app">
        <div class="columns is-centered grid">
            <div class="column mb-4">
                <h2 class="mt-4 has-text-weight-bold is-size-3">Static badge</h2>
            </div>
        </div>
        <div class="columns is-centered is-vcentered">
            <div class="column is-half pt-3 pb-3 pr-6 pl-6">
                <form>
                    <div class="select mt-3">
                        <select v-model="sty">
                            <option value="">Style</option>
                            <option value="plastic">Plastic</option>
                            <option value="flat">Flat</option>
                            <option value="flat-square">Flat square</option>
                            <option value="for-the-badge">For the badge</option>
                        </select>
                    </div>
                    <input type="text" class="input mt-3" placeholder="Label" v-model="lab">
                    <input type="text" class="input mt-3" placeholder="Label Color" v-model="labelCol">
                    <input type="text" class="input mt-3" placeholder="Message" v-model="mes">
                    <input type="text" class="input mt-3" placeholder="Color" v-model="col">
                    <input type="text" class="input mt-3" placeholder="Logo" v-model="logo">
                    <input type="text" class="input mt-3" placeholder="Logo Color" v-model="logoCol">
                    <input type="text" class="input mt-3" placeholder="Logo Width" v-model="logoWid">
                    <input type="text" class="input mt-3 mb-5" placeholder="Link" v-model="link">
                </form>
            </div>
            <div class="column is-two-fifths pr">
                <img :src="URL" class="img">
                <div class="dropdown is-hoverable">
                    <div class="dropdown-trigger">
                        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span>Export</span>
                        <span class="icon is-small">
                          <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                      </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-item">
                                <a @click="copyMD()">Copy .md</a>
                            </div>
                            <div class="dropdown-item">
                                <a @click="copyHTML()">Copy html</a>
                            </div>
                            <div class="dropdown-item">
                                <a @click="downloadSVG()">Download .svg</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/index.js" type="application/javascript"></script>
</body>

</html>