<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    <form method='GET' action="/getdata">
        <input type="text" id="lab" name="lab">
        <input type="text" id="mes" name="mes">
        <button type="submit">Generate</button>
    </form>
</body>

</html>