body {
    height: 105vh;
    width: 100%;
    overflow-x: hidden;
}

.select {
    display: grid;
}

#myInput {
    padding: 20px;
    margin-top: -6px;
    border: 0;
    border-radius: 0;
    background: #f1f1f1;
}

.fstdiv {
    margin-top: 1rem;
}

.d {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.notification {
    border-radius: 60px;
}

@keyframes fade {
    100% {
        background-color: transparent;
        color: transparent;
    }
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.is-centered {
    display: grid;
}

.pr {
    position: relative;
}

.grid {
    display: grid !important;
}

.dropdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
}

.dropdown-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}